/**
 * MediaWiki-specific customizations for Acrolinx.
 */
#acrolinxContainer iframe {
  margin-top: 60px;
}

div#acrolinxToggle {
	cursor: pointer;
	float: right;
	font-size: 22pt;
	color: #777;
}

#acrolinxContainer.ve-enabled-acrolinx {
	overflow: hidden;
	z-index: 999999;
}

#acrolinxContainer.ve-enabled-acrolinx iframe {
	margin-top: 80px;
	min-height: 100%;
}

.acrolinx-ve-sidebar #content {
	margin-right: 301px;
}

.ve-init-mw-desktopArticleTarget-originalContent #acrolinxContainer {
	display: none;
}
